#accessories-hero {
    height: 400px;
    /* background-color: #ededee; */
    margin-top: 50px;
}

#accessories-hero img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.accessories-products {
    height: auto;
    margin-top: 5%;
    margin-bottom: 15%;
}

#acc_products_row {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#acc_single_product {
    height: 237px;
    margin-right: 45px;
}

#acc_single_product5 {
    height: 237px;
    margin-right: none;
}

.single_product_top img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.single_product_bottom {
    text-align: center;
    margin-top: 15px;
}

h3 {
    font-size: 1.5em
}