/*-- This is any custom CSS for individual elements --*/

/*-------------------Search Results-------------------*/

.fa-chevron-left {
    color: black;
    padding-right: 5px;
    line-height: 1.4;
}

.section-content .container {
    margin-top: 5rem;
}

/* SIDE FILTERS */

.card-title {
    font-size: 2.0em;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1.45rem 0rem;
}

.card {
    box-shadow: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.card-body {
    padding: 1px;
}

.card-header {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.7em;
    border-bottom: none;
    padding: 1rem 0rem;
}

.card-body {
    padding: 1px;
}

.custom-control {
    padding-bottom: 0.7rem;
    padding-left: none;
}

.custom-control-label {
    padding-left: 1rem;
}

.range-control {
    display: flex;
    padding-left: none;
}

#range-form {
    width: 105px;
    margin-right: 2.3rem;
    /* margin-top: .7rem; */
    margin-bottom: 1rem;
    margin-left: none;
    border-radius: 2px;
}

/* MAIN SQUEEZE */

.form-inline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.56rem 0rem;
}

#btn-list {
    /* height: 40px; */
    box-shadow: none;
}

.fa-list {
    color: white;
}

/* cards */

.card-product-list {
    margin-top: 30px;
}

.img-search-result {
    height: 205px;
    width: 259px;
}