/* This is the CSS for the Log In Page */

/* Padding between the Nav Bar and the Login Cards */

.padding-y {
    padding-top: 70px;
}

.card-body {
    padding: 15px;
    font-family: roboto;
}

.card-title {
    font-size: 3rem;
    border-bottom: none;
}

#test {
    /* border:1px solid #cecece; */
    border-radius: 2px;
    box-shadow: 0px 3px 10px #E5E5E5;
}

/* #box-left {
    padding-right: .5%;
}

#box-right {
    padding-left: .5%;
} */

.form-control::placeholder {
    color: #E5E5E5;
}


/*--------------------------Button-------------------------*/

.btn-primary {
    background: #080D20;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 6rem;
    display:flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.ForgetPwd {
    display:flex;
    justify-content: flex-end;
    margin-bottom: 4.8rem;
}


/*--------------------------Log In Button Margins-------------------------*/

.LogInPwd {
    margin-bottom: 50%;
}

.LogInBtn {
    margin-bottom: 5%;
}