/*--- CSS for Hidden Form Fills On Payment-2 Page---*/

#hidden-form {  
    display: initial;
}


#hidden-input {
    display: initial;
}

.billing-address .form-control {
    border: 1.5px solid lightgreen;
}