.modal-title {
    font-size: 4.2rem;
}

.modal-content {
    padding: 5rem;
}

.modal-body {
    color: #555;
}

.modal-body p {
    font-size: 2rem;
}

.modal-footer {
    justify-content: flex-start;
}

