/*-- This is the CSS for the Product Overview Page --*/

/*--------------------------Product Overview--------------------------*/

.single-product {
    font-family: "Roboto", sans-serif !important;
    margin-top: 70px;
}

.new-arrival {
    background: none;
    width: 50px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

.single-product .container-fluid {
    padding: 0 15%;
}

.single-product h2 {
    font-size: 3rem;
    font-weight: bold;
}

.single-product p, ul, li, label {
    font-size: 1.6rem;
}

.single-product .col-md-6 .price {
    font-size: 2.3rem;
}

.single-product ul {
    margin-left: 1.5rem;
}

.single-product .col-md-6 img {
    display: block;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.single-product .fas {
    color: #080D20;
    font-size: 2rem;
}

.single-product .reviews .row .review-package {
    margin-top: 3rem;
}

.single-product .reviews .fas {
    color: #080D20;
    font-size: 1.5rem;
}

.single-product .reviews .card-product-list {
    margin-top: 0;
}

.single-product .reviews .title {
    font-size: 1.7rem;
    font-weight: bold;
}

.single-product .row p {
    color: #555555;
}

.single-product .row .label-rating {
    color: #AAA;
}

.single-product .row .show-more {
    color: #001872;
}

.single-product .price {
    font-size: 2.6em;
    padding-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

@media only screen and (max-width: 980px) {

    .single-product .col-md-6 img {
        margin: 20px auto;
        padding: 0;
        width: 100%;
    }

    .single-product .container-fluid {
        padding: 1.5em;
    }
}

/*--------------------------Tab Titles--------------------------*/

.single-product .nav-tabs a {
    color: #555;
    font-size: 1.5rem;
    
}

.single-product .nav-tabs .active {
    font-weight: bold;
}

/*--------------------------Alienware Laptop List--------------------------*/

.single-product .list-group {
    margin-bottom: 2rem;

}

.single-product .list-group li {
    color: #555;
}

.single-product .list-group .fas {
    color: #555;
    font-size: 1rem;
}

/*--------------------------Manual Tab Bar--------------------------*/

.manuals-support .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5rem;
  }
  
  /* Create four equal columns that sits next to each other */
  .manuals-support .column {
    flex: 50%;
    max-width: 50%;
    padding: 1rem 1rem;
  }
  
  .manuals-support .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0 .2rem .5rem #EBEBEB;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .manuals-support .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .manuals-support .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/*--------------------------Buy and Save Bar--------------------------*/

.footer {
    margin: 0;
}

.buy-save-bar {
    display: flex;
    margin-top: 50px;
    /* color: rgb(51, 51, 51); */
    background: rgb(244, 244, 244);
}

.buy-save-bar .container-fluid {
    padding: 2rem 0;
}

.buy-save-bar .btn-primary {
    background: #080D20;
    color: #fff;
    font-size: 1.7em;
    /* font-weight: bold; */
    padding: 5px 5rem;
    width: 40%;
    margin-left: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}

.buy-save-bar .btn-secondary {
    background: #080D20;
    color: #fff;
    font-size: 1.7em;
    /* font-weight: bold; */
    padding: 5px 5rem;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}