/*-- This is the CSS for the Product Overview Page --*/

/*--------------------------Product Overview--------------------------*/

.single-product {
    font-family: "Roboto", sans-serif !important;
    margin-top: 70px;
}

.new-arrival {
    background: none;
    width: 50px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

.single-product .container-fluid {
    padding: 0 15%;
}

.single-product h2 {
    font-size: 3rem;
    font-weight: bold;
}

.single-product p, ul, li, label {
    font-size: 1.6rem;
}

.single-product .col-md-6 .price {
    font-size: 2.3rem;
}

.single-product ul {
    margin-left: 1.5rem;
}

.single-product .col-md-6 img {
    display: block;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.single-product .fas {
    color: #0076CE;
}

.single-product .price {
    font-size: 2.6em;
    padding-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

@media only screen and (max-width: 980px) {

    .single-product .col-md-6 img {
        margin: 20px auto;
        padding: 0;
        width: 100%;
    }

    .single-product .container-fluid {
        padding: 1.5em;
    }
}

/*--------------------------Product-Description--------------------------*/

.product-description h6 {
    margin-top: 50px;
    color: orange;
}

.product-description p {
    margin-top: 30px;
}

.product-description hr {
    margin-bottom: 50px;
}

/*--------------------------Buy and Save Bar--------------------------*/

.footer {
    margin: 0;
}

.buy-save-bar {
    display: flex;
    margin-top: 50px;
    /* color: rgb(51, 51, 51); */
    background: rgb(244, 244, 244);
}

.buy-save-bar .container-fluid {
    padding: 2rem 0;
}

.buy-save-bar .btn-primary {
    background: #080D20;
    color: #fff;
    font-size: 1.7em;
    /* font-weight: bold; */
    padding: 5px 5rem;
    width: 40%;
    margin-left: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}

.buy-save-bar .btn-secondary {
    background: #080D20;
    color: #fff;
    font-size: 1.7em;
    /* font-weight: bold; */
    padding: 5px 5rem;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}