/*-- This is the main style CSS for the website --*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

/*
Base font size is 10px = 1em
12px = 1.2em
14px = 1.4em
16px = 1.6em
18px = 1.8em
20px = 2em
*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
}

html,
body,
.view {
    height: 90%;
}

/*--------------------------Main Navigation--------------------------*/

.navbar {
    z-index: 1;
    width: 100%;
    background-color: #080D20;
}

.container-fluid {
    margin: 0px;
    padding: 0px 8%;
}

.nav-item a {
    color: white;
    font-size: 1.6em;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

.menu-bar {
    /* width: 40%; */
    height: 57px;
    float: right;
}

.menu-bar ul {
    height: 57px;
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    /* border-left: 1px solid #fff; */
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: none;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 1.6em;
    /* font-weight: bold; */
    color: #fff;
    text-decoration: none;
}

.btn-outline-primary {
    display: inline-flex;
    text-align: center;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 3px !important;
    margin: 0px !important;
}

.fa-shopping-cart {
    margin-right: 5px;
}

.fa-user {
    margin-right: 5px;
}

#account {
    display: inline-block;
}

#account .fas {
    margin-right: 10px;
}

.nomobile {
    display: inline-block !important;
}

.fa-flag-usa {
    margin-right: 5px;
}

@media only screen and (max-width: 980px) {
    .nav-bar {
        height: 180px;
        border-bottom: 0;
    }

    .search-box {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }

    .menu-bar ul li {
        height: 70px;
        width: 100%;
    }

    .menu-bar ul li .nomobile {
        display: none !important;
    }
}

/*--------------------------Hero Banner--------------------------*/

#view {
    margin-top: 3%;
    background: url("../images/dell-visor-banner.png") no-repeat center center;
    background-size: cover;
}

.jumbotron {
    height: 977px;
}

#hero-title {
    color: white;
}

#hero-subtext {
    color: white;
}

@media only screen and (min-width: 2496px) {
    #view {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 980px) {
    #view {
        margin-top: 12%;
    }
}

/*--------------------------Breadcrumbs--------------------------*/


.breadcrumbs {
    margin-top: 75px;
    margin-bottom: 0;
    margin-left: 150px;
    height: 0px;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb li {
    font-size: 1.2em;
}

.bc-icons-2 .breadcrumb-item+.breadcrumb-item::before {
    content: none;
}

.bc-icons-2 .breadcrumb-item.active {
    color: #455a64;
}

@media only screen and (max-width: 980px) {
    .breadcrumbs {
        margin-top: 130px;
        margin-bottom: 0;
        margin-left: 40px;
    }
}

/*--------------------------Masonry Featured Products--------------------------*/

/* Within style tags in your html file */
* {
    box-sizing: border-box;
}

#masonry-col {
    padding: 1%;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.landing-masonry img {
    transition: .5s;
    cursor: pointer;
}

/*--------------------------Footer--------------------------*/

.footer {
    margin-top: 50px;
    color: rgb(51, 51, 51);
    background: rgb(229, 229, 229);
}

.footer h1 {
    font-size: 1.4em;
    margin: 25px 0;
}

.footer p {
    font-size: 1.2em;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 20px;
}

.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.footer .row .fab {
    padding-right: 20px;
    font-size: 1.5em;
}

.footer input {
    height: 40px;
    width: 210px;
    background: transparent;
}

#email-form {
    /* margin-top: 9px;
    margin-left: 200px; */
    border: 1px solid #080D20;
    border-radius: 4px;
    box-shadow: none;
}

#subscribe-btn {
    background: #080D20;
    color: white;
    font-size: 1.5em;
    margin-left: 40px;
    box-shadow: none;
    width: 120px;
    height: 40px;
    border: none;
}

.footer .form-control::placeholder {
    color: #080D20;
}

#email-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 980px) {
    #subscribe-btn {
        margin-left: none;
    }
}



/*--------------------------Landing Hover Overlay--------------------------*/

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    /* background: #00447C; */
    background-image: linear-gradient(#263f9b, #263F9B);
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 4.0em;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect a,
.hovereffect p {
    color: #FFF !important;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}