/*-- This is the main style CSS for the website --*/

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

/*
Base font size is 10px = 1rem
12px = 1.2rem
14px = 1.4rem
16px = 1.6rem
18px = 1.8rem
20px = 2rem
*/

p {
    font-size: 1.4rem;
}
h1{
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.8rem;
}

body {
    background-color: #fff;
}

html,
body,
.view {
    height: 90%;
}

.breadcrumb-item a {
    color: #080D20
}

/*--------------------------Universal Primary and Secondary Buttons--------------------------*/

.btn-primary {
    background: #080D20;
    color: #fff;
    font-size: 1.7em;
    padding: 5px 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}

.btn-secondary {
    background: none;
    color: #080D20;
    font-size: 1.7em;
    padding: 5px 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border: 1px solid #080D20;
    border-radius: 3px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #263F9B;
    border-color: #080D20; /*set the color you want here*/
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #263F9B;
    border-color: #080D20; /*set the color you want here*/
}

/*--------------------------Main Navigation--------------------------*/

.navbar {
    z-index: 1;
    width: 100%;
    background-color: #080D20;
}

.container-fluid {
    margin: 0px;
    padding: 0px 8%;
}

.nav-item a {
    color: white;
    font-size: 1.6rem;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

.menu-bar {
    /* width: 40%; */
    height: 57px;
    float: right;
}

.menu-bar ul {
    height: 57px;
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    /* border-left: 1px solid #fff; */
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: none;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 1.6rem;
    /* font-weight: bold; */
    color: #fff;
    text-decoration: none;
}

.btn-outline-primary {
    display: inline-flex;
    text-align: center;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 3px !important;
    margin: 0px !important;
}

.fa-shopping-cart {
    margin-right: 5px;
}

.fa-user {
    margin-right: 5px;
}

#account {
    display: inline-block;
}

#account .fas {
    margin-right: 10px;
}

.nomobile {
    display: inline-block !important;
}

.fa-flag-usa {
    margin-right: 5px;
}

.dropdown-menu {
    background-color: #263F9B;
    height: 8rem;
}

.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
  }
  
  
/*for the animation*/
.dropdown-toggle:after {
    transition: 0.3s;
}

#navbarSupportedContent .dropdown-menu a {
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin: auto;
}

#navbarSupportedContent .dropdown-menu a img {
    height: 5rem;
    width: auto;
    padding-right: 1rem;
    filter: invert(100%); 
    -webkit-filter:invert(100%); 
} 

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active, .dropdown-item.active, .open>.dropdown-toggle.dropdown-item {
    color: #fff;
    background-color: black;
    border-color: none; /*set the color you want here*/
}

@media only screen and (max-width: 980px) {
    .nav-bar {
        height: 180px;
        border-bottom: 0;
    }

    .search-box {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }

    .menu-bar ul li {
        height: 70px;
        width: 100%;
    }

    .menu-bar ul li .nomobile {
        display: none !important;
    }
    .dropdown-menu {
        height: 18rem;
    }
}

/*--------------------------Breadcrumbs--------------------------*/


.breadcrumbs {
    margin-top: 75px;
    margin-bottom: 0;
    margin-left: 150px;
    height: 0px;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb li {
    font-size: 1.2rem;
}

.black-text {
    color: #080D20;
}

.bc-icons-2 .breadcrumb-item+.breadcrumb-item::before {
    content: none;
}

.bc-icons-2 .breadcrumb-item.active {
    color: #455a64;
}

@media only screen and (max-width: 980px) {
    .breadcrumbs {
        margin-top: 130px;
        margin-bottom: 0;
        margin-left: 40px;
    }
}



/*--------------------------Footer--------------------------*/

.footer {
    margin-top: 50px;
    color: rgb(51, 51, 51);
    background: rgb(229, 229, 229);
}

.footer h1 {
    font-size: 1.4rem;
    margin: 25px 0;
}

.footer p {
    font-size: 1.2rem;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.footer .row .fab {
    padding-right: 20px;
    font-size: 1.5rem;
}

.footer input {
    height: 40px;
    width: 210px;
    background: transparent;
}

#email-form {
    /* margin-top: 9px;
    margin-left: 200px; */
    border: 1px solid #080D20;
    border-radius: 4px;
    box-shadow: none;
}

.footer .form-control::placeholder {
    color: #080D20;
}

#email-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 980px) {
    #subscribe-btn {
        margin-left: none;
    }
}