* {
    margin: 0;
    padding: 0;
}

.view {
    background: url("../images/3D-dell-visor.jpg") no-repeat center center;
    background-size: cover;
}

body {
    background-color: #f1f3f4;
    font-family: Roboto, sans-serif !important;
}

html,
body,
header,
.view {
  height: 90%;
}

/*--------------------------Main Navigation--------------------------*/

.navbar {
    z-index: 1;
    background-color: #333;
}

.nav-item a {
    color: white !important;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.form-control {
    margin-top: 9px;
    margin-left: 200px;
    border: 1px solid #00447C;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

.input-group-text {
    background: #00447C !important;
    border: 1px solid #00447C !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    cursor: pointer;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

.fa-search {
    color: white;
}

.menu-bar {
    /* width: 40%; */
    height: 57px;
    float: right;
}

.menu-bar ul {
    height: 57px;
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    /* border-left: 1px solid #fff; */
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: none;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    /* font-weight: bold; */
    color: #fff;
    text-decoration: none;
}

.btn-outline-primary {
    display: inline-flex;
    text-align: center;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 3px !important;
    margin: 0px !important;
}

.fa-shopping-cart {
    margin-right: 5px;
}

.fa-user {
    margin-right: 5px;
}

.fa-flag-usa {
    margin-right: 5px;
}

@media only screen and (max-width: 980px) {
    .nav-bar {
        height: 180px;
        border-bottom: 0;
    }

    .search-box {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }

    .menu-bar ul li {
        height: 70px;
        width: 100%;
    }
}

.btn-outline-primary {
    display: inline-flex;
    text-align: center;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 3px !important;
    margin: 0px !important;
}

/*--------------------------Masonry Featured Products--------------------------*/

/* Within style tags in your html file */
* { box-sizing: border-box; }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 50%;
}
@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

/* Size for larger devices*/

@media (min-width: 768px) and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.landing-masonry img {
    transition: .5s;
    cursor: pointer;
}

.landing-masonry img:hover {
    transform: scale(1.07);
}

/*--------------------------Footer--------------------------*/

.footer {
    margin-top: 50px;
    background: #333;
    color: #fff;
}

.footer h1 {
    font-size: 14px;
    margin: 25px 0;
}

.footer p {
    font-size: 12px;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.fa-heart {
    color: red;
    font-size: 15px;
}

.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.footer-image img {
    width: 150px;
}

.footer .row .fab {
    padding-right: 20px;
    font-size: 15px;
}

/*--------------------------Single-Product--------------------------*/

.single-product {
    margin-top: 70px;
}

.new-arrival {
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7 h2 {
    color: #555;
}

.single-product .fas {
    color: orange;
}

.single-product .price {
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.single-product .btn-primary {
    background: orange !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

/*--------------------------Product-Description--------------------------*/

.product-description h6 {
    margin-top: 50px;
    color: orange;
}

.product-description p {
    margin-top: 30px;
}

.product-description hr {
    margin-bottom: 50px;
}