#navbarSupportedContent .dropdown-menu a {
    color: #080D20;
    font-weight: 500;
    text-align: center;
    margin: auto;
}

#navbarSupportedContent .dropdown-menu a img {
    height: 5rem;
    width: auto;
    padding-right: 1rem;
}